<p-toolbar style="color: #404040;">
    <div class="p-toolbar-group-left">
        <h1 style="color: white;">Scoop</h1>
        <h2 style="margin-left: 50px; color: white;">Home</h2>
        <h2 style="margin-left: 50px; color: white;">Profile</h2>
    </div>
    <div class="p-toolbar-group-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" style="width: 500px;">
            <div class="input-group-append">
              <button class="btn btn-success" type="submit">Search</button>
            </div>
          </div>
        <button  style="margin-left: 30px;" type="button" class="btn btn-danger">Logout</button>
    </div>
</p-toolbar>
