<br><br>
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-4">
                <img src="../../assets/pa.jpg" class="rounded-circle" alt="Cinque Terre">
            </div>
            <div class="col-md-8">
                <br><br><br><br>
                <h1 style="color: dimgray;">Narathip  Kumkuan , Oil</h1><h3 style="color: gray;">Edit Profile</h3>
                <hr>
                <h2 style="color: gray;">1 Posts  1 Followers  1 Following</h2>
            </div>
        </div>
        <br><br>
        <div class="row">
           <div class="col-md-12" >
            <nav class="navbar navbar-expand-sm bg-light" style="background-color: dimgray !important;">
                <!-- Links -->
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <h3 class="nav-link" style="color: white; margin-left:  275px;">Posts</h3>
                  </li>
                  <li class="nav-item">
                    <h3 class="nav-link" style="color: white; margin-left:  50px;">Photo</h3>
                  </li>
                  <li class="nav-item">
                    <h3 class="nav-link" style="color: white; margin-left:  50px;">Followers</h3>
                  </li>
                  <li class="nav-item">
                    <h3 class="nav-link" style="color: white; margin-left:  50px;">Following</h3>
                  </li>
                </ul>
              
              </nav>
           </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div style="background-color: violet !important;">
                   
                </div>
            </div>
         </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
